*{

}

/* This is a Signup css */
.r1{
    height: 100vh;
    align-content: center;
}
.input1{
    padding: 1rem 1.5rem !important;
}
.input2{
    padding: 1rem 1.5rem !important;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.line1{
    width: 6rem;
    margin-right: 10px;
}
.line2{
    width: 6rem;
    margin-left: 10px;
}
.btnup{
        display: flex;
        justify-content: space-evenly;
}
.create{
    width: 100%;
}

/* This is a Signin css */

.r2{
    height: 100vh;
    align-content: center;
}
.signin{
    display: inline-block;
    width: 450px;
}
.log{
    width: 100%;
}